@page "/"
@inherits IndexBase

<div class="flex-column">
    <OutputDevices OnChangedDevice="DeviceChanged"></OutputDevices>
    
    <div class="flex-row mt-3">
        <button class="btn btn-success" type="button" @onclick="StartRecording">Start</button>
        <button class="btn btn-success ml-2" type="button" @onclick="StopRecording">Stop</button>
    </div>
</div>